###################################################
#
#   The buildtools repository is at:
#   https://github.com/foo123/Beeld
#
###################################################

plugins =[{}]
    # include 'minify' plugin from plugins folder
    "minify" = "!plg:minify"
#    # include 'doc' plugin from plugins folder
#    "doc" = "!plg:doc"
@

tasks =[{}]
    
    build =[{}]
        
        src =[]
            ./src/js/header.js
            #./src/js/jquery.easing.js
            #./src/js/jquery.ui.effects.js
            ./src/js/jquery.ui.checkboxes.js
            ./src/js/jquery.ui.disabable.js
            ./src/js/jquery.ui.morphable.js
            ./src/js/jquery.ui.removable.js
            ./src/js/jquery.ui.dropdown.js
            ./src/js/jquery.ui.dropdown_menu.js
            ./src/js/jquery.ui.tooltip2.js
            ./src/js/jquery.ui.uploadable.js
            ./src/js/jquery.ui.scrollable.js
            #./src/js/jquery.ui.panel.js
            ./src/js/footer.js
        @

        # extract header from this file
        header = ./src/js/header.js

        out = ./build/jquery.ui.extra.js
        
    @

    build_css =[{}]
        
        src =[]
            ./src/css/header.css
            ./src/css/animations.css
            ./src/css/spinners.css
            ./src/css/jquery.ui.checkboxes.css
            ./src/css/jquery.ui.disabable.css
            ./src/css/jquery.ui.removable.css
            ./src/css/jquery.ui.dropdown.css
            ./src/css/jquery.ui.dropdown_menu.css
            ./src/css/jquery.ui.tooltip2.css
            ./src/css/jquery.ui.scrollable.css
            #./src/css/jquery.ui.panel.css
        @

        # extract header from this file
        header = ./src/css/common.css

        out = ./build/jquery.ui.extra.css
    @

    minify =[{}]
        
        src =[]
            ./build/jquery.ui.extra.js
        @


        # Minify the Package (map of lists)
        minify ={}

            # Options for Node UglifyJS Compiler (if used, default), (mangle and compress)
            uglifyjs =[]
                -m -c
            @

            # Options for Java Closure Compiler (if used)
            closure =[]
                "--language_in=ECMASCRIPT5_STRICT"
            @

            # Options for Java YUI Compressor Compiler (if used)
            yui =[]
                --preserve-semi
            @
        @

        out = ./build/jquery.ui.extra.min.js
    @

    minify_css =[{}]
        
        src =[]
            ./build/jquery.ui.extra.css
        @


        # Minify the Package (map of lists)
        minify ={}

            # Options for CSSMin
            cssmin =[]
                #--vendor-prefixes
                --hsla2rgba
                --rgb2hex
                #--embed-images
                #--embed-fonts
                #--embed-imports
            @
        @

        out = ./build/jquery.ui.extra.min.css
    @

@

