/* animations */
@-webkit-keyframes slideFadeDown {
    0% { opacity: 0; max-height: 0; }
    20% { opacity: 0.8; }
    100% { opacity: 1; max-height: 2000px; }
}
@-moz-keyframes slideFadeDown {
    0% { opacity: 0; max-height: 0; }
    20% { opacity: 0.8; }
    100% { opacity: 1; max-height: 2000px; }
}
@-ms-keyframes slideFadeDown {
    0% { opacity: 0; max-height: 0; }
    20% { opacity: 0.8; }
    100% { opacity: 1; max-height: 2000px; }
}
@-o-keyframes slideFadeDown {
    0% { opacity: 0; max-height: 0; }
    20% { opacity: 0.8; }
    100% { opacity: 1; max-height: 2000px; }
}
@keyframes slideFadeDown {
    0% { opacity: 0; max-height: 0; }
    20% { opacity: 0.8; }
    100% { opacity: 1; max-height: 2000px; }
}
@-webkit-keyframes slideFadeUp {
    0% { opacity: 1; max-height: 2000px; }
    80% { opacity: 0.8; }
    100% { opacity: 0; max-height: 0; }
}
@-moz-keyframes slideFadeUp {
    0% { opacity: 1; max-height: 2000px; }
    80% { opacity: 0.8; }
    100% { opacity: 0; max-height: 0; }
}
@-ms-keyframes slideFadeUp {
    0% { opacity: 1; max-height: 2000px; }
    80% { opacity: 0.8; }
    100% { opacity: 0; max-height: 0; }
}
@-o-keyframes slideFadeUp {
    0% { opacity: 1; max-height: 2000px; }
    80% { opacity: 0.8; }
    100% { opacity: 0; max-height: 0; }
}
@keyframes slideFadeUp {
    0% { opacity: 1; max-height: 2000px; }
    80% { opacity: 0.8; }
    100% { opacity: 0; max-height: 0; }
}

.animated {
    -webkit-animation-name: none;
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: .5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: none;
    -moz-animation-delay: 0s;
    -moz-animation-duration: .5s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: forwards;
    -ms-animation-name: none;
    -ms-animation-delay: 0s;
    -ms-animation-duration: .5s;
    -ms-animation-iteration-count: 1;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: forwards;
    -o-animation-name: none;
    -o-animation-delay: 0s;
    -o-animation-duration: .5s;
    -o-animation-iteration-count: 1;
    -o-animation-timing-function: ease;
    -o-animation-fill-mode: forwards;
    animation-name: none;
    animation-delay: 0s;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
